
//pageNotDisplay
.pageNotDisplay{
    width: 100%;
    height: 90vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pageNotDisplaytitle{
    font-weight: 600;
    font-size: 20px;
    color: #1D2029;
    margin-top: 30px;
}
.pageNotDisplaysubtitle{
    font-size: 16px;
    font-weight: 500;
    color: #7C7C7C;
    margin: 10px 0;
}
.pageNotDisplaydesc{
    font-size: 14px;
    font-weight: 400;
    color: #7C7C7C;
    padding: 5px;
}